.sbw-container {
  --primary: #17161B;
  --secondary: #2C2C32;
  --white: #fff;
}

.sbw-outer-box {
  border: 2px solid var(--secondary);
  height: 400px;
  max-width: 530px;
  background-color: var(--primary);
  border-radius: 12px;
  padding: 24px;
}

.sbw-inner-box {
  display: grid;
  gap: 12px;
  grid-template-columns: minmax(0px, auto);
}

.sbw-switch-bridge-type {
  display: flex;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  border-radius: 8px;
}

.sbw-switch-bridge-type label {
  height: 28px;
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.sbw-switch-bridge-type label:hover {
  cursor: pointer;
  background-color: var(--primary);
  border-radius: 6px;
}

.sbw-hidden-box {
  z-index: -1;
  padding: 0px 16px;
  border-radius: 6px;
  height: calc(100% - 4px);
  width: calc(95% - 30px);
  height: 24px;
  position: absolute;
}

.sbw-switch-bridge-type input:checked + .sbw-hidden-box {
  background-color: var(--primary);
}

.sbw-switch-bridge-type input {
  opacity: 0;
  width: 1px;
  height: 1px;
  display: none;
}

.sbw-box-1 {
  display: block;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: normal;
  color: var(--white);
}