.sbw-container {
  --primary: #17161B;
  --secondary: #2C2C32;
  --neutral: #9DA0A6;
  --grey: #45464a;
  --white: #fff;
}

.sbw-outer-box {
  border: 2px solid var(--secondary);
  height: 400px;
  max-width: 530px;
  background-color: var(--primary);
  border-radius: 12px;
  padding: 24px;
}

.sbw-inner-box {
  display: grid;
  gap: 12px;
  grid-template-columns: minmax(0px, auto);
}

.sbw-switch-bridge-type {
  display: flex;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  border-radius: 8px;
}

.sbw-switch-bridge-type label {
  height: 28px;
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.sbw-switch-bridge-type label:hover {
  cursor: pointer;
  background-color: var(--primary);
  border-radius: 6px;
}

.sbw-hidden-box {
  z-index: -1;
  padding: 0px 16px;
  border-radius: 6px;
  height: calc(100% - 4px);
  width: calc(95% - 30px);
  height: 24px;
  position: absolute;
}

.sbw-switch-bridge-type input:checked + .sbw-hidden-box {
  background-color: var(--primary);
}

.sbw-switch-bridge-type input {
  opacity: 0;
  width: 1px;
  height: 1px;
  display: none;
}

.sbw-box-1 {
  display: block;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: normal;
  color: var(--white);
}

.sbw-chains-select-box {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(min-content, max-content);
  gap: 12px;
  align-items: center;
  justify-content: initial;
  grid-template-columns: 1fr 36px 1fr;
}

.sbw-chains-select-box fieldset {
  color: var(--neutral);
  background-color: var(--secondary);
  padding: 7px 11px;
  border: 1px solid var(--grey);
  border-radius: 8px;
}

.sbw-fieldset {
  box-sizing: border-box;
}

.sbw-fieldset:hover {
  background-color: var(--primary);
}

.sbw-grid-col-box {
  display: grid;
  gap: 4px;
  grid-template-columns: minmax(0px, auto);
}

.sbw-grid-col-box label{
  display: block;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: -0.2px;
  color: inherit;
}

.sbw-arrow-button {
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid var(--grey);
  border-radius: 8px;
  height: 36px;
  min-width: 36px;
  width: 36px;
  padding: 0px;
}

.sbw-icon-box-1 {
  display: inline-block;
  vertical-align: bottom;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}

.sbw-arrow-button:hover {
  background-color: var(--secondary);
  cursor: pointer;
}